<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col animated jackInTheBox delay-2s">
        <table class="table table-hover table-striped text-center table-light">
          <thead class="bg-primary text-white text-uppercase">
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Cost</th>
            <th>Brand</th>
          </tr>
          </thead>
          <tr *ngFor="let samsung of samsungs">
            <td>{{samsung.pId}}</td>
            <td>{{samsung.pName}}</td>
            <td>{{samsung.pCost}}</td>
            <td>{{samsung.pBrand}}</td>
          </tr>
        </table>
        <button class="btn btn-primary" (click)="backToProducts()">Back to Products</button>
      </div>
    </div>
  </div>
</section>
